@use '@/styles/variables' as *;
@use '@/styles/mixins' as *;

.grid {
  display: grid;
  grid-template-columns: 1fr;
  gap: $spacing-xl;

  @include md {
    grid-template-columns: repeat(2, 1fr);
  }

  @include lg {
    grid-template-columns: repeat(3, 1fr);
  }
}

.empty {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: $spacing-5xl $spacing-lg;
  color: $text-tertiary;
  font-size: $fs-lg;
}
